.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-benefits__name {
    display: none;
}

.benefits-list {

    display: flex;

    &__item{

        width: 270px;
        &+& {margin-left: 30px;}}
    
    &__container{

        width: 270px;
        height: 120px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color-team);
        border-radius: 4px;}

    &__title{

        margin-bottom: 10px;
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);}
            
    &__text{

        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-test-color);}
    }