.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--secondary-color-background);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-title.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;

    &__title{
        width: 696px;
        margin: 0 auto;
        margin-bottom: 30px;
        
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--hero-text-color);
    }

}


.button-page {
    min-width: 200px;
    padding: 10px 32px;
}