:root {
    --primary-text-color: #212121;
    --secondary-test-color: #757575;
    --hero-text-color: #FFFFFF;
    --active-color-change: #2196F3;
    --secondary-color-background: #2F303A;
    --background-color: #E5E5E5;
    --background-color-team: #F5F4FA;
}